<h1>{{title}}</h1>

<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <!-- Signal input -->
      <app-message 
        [messageVarClasse]="messageBinding"
        (outputMessage)="messageBinding.content = $event"
      ></app-message>  

      <br>
      <!--
      <app-message 
        [messageVarClasse]="msg"
        (outputMessage)="msg.content = $event"
        *ngFor="let msg of messageS"
      ></app-message>
      -->

      @for (msg of messageS; track $index) {
        <app-message 
          [messageVarClasse]="msg"
          (outputMessage)="msg.content = $event"
        ></app-message>
      } @empty {
        messageS é uma lista vazia
      }

      <br>

      <button (click)="onMudaMostrarElemento()">Click aqui 'com then e else'</button>
      <p *ngIf="mostrarElemento; then thenBlockMy else elseBlockMy"></p>
      <ng-template #thenBlockMy>
        <p>{{mostrarElemento}} - Mostrando Elemento do Then ...</p>
      </ng-template>
      <ng-template #elseBlockMy>
        <p>{{mostrarElemento}} - Escondido do Else ...</p>
      </ng-template>

      <br>

      <button (click)="valorNgSwitch=1">Selecione - 1</button>
      <button (click)="valorNgSwitch=2">Selecione - 2</button>
      <button (click)="valorNgSwitch=3">Selecione - 3</button>
      <h5>Você Selecionou: {{valorNgSwitch}}</h5>

      <br>

      <div [ngSwitch]="valorNgSwitch">
        <div *ngSwitchCase="1">1. Template - <b>{{valorNgSwitch}}</b></div>
        <div *ngSwitchCase="2">2. Template - <b>{{valorNgSwitch}}</b></div>
        <div *ngSwitchCase="3">3. Template - <b>{{valorNgSwitch}}</b></div>
        <div *ngSwitchDefault>Default Template</div>
      </div>
    </div>
  </div>
</div>